<li>
  <% unless current_user?(@user) %>
	<div id="request_form">
	  <% if lendable.requested? %>
	     <div class="requested"> Requested </div>
	  <% else %>
		<%= form_for([lendable, lendable.requests.new], remote: true) do |f| %>
		  <%= f.submit "Request me!", class: "btn btn-small pull-right" %>
		<% end %>
	  <% end %>
	  </div>
  <% end %>
  <span class="lendable_name"><%= lendable.name %></span>
  <span class="content"><%= lendable.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(lendable.created_at) %> ago.
  </span>
</li>