<% provide(:title, 'List a Lendable') %>
<h1>List A Lendable</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@lendable, :url => user_lendables_path(current_user)) do |f| %>
		
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.submit "List my lendable", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>